<ul class="main-navigation">
  <li><a href="{{ root_url }}/inicio">Home</a></li>
  <li><a href="{{ root_url }}/presentaciones">Presentaciones</a></li>
  <li><a href="{{ root_url }}/software">Software</a></li>
  <li><a href="{{ root_url }}/tutoriales">Tutoriales</a></li>
  <li><a href="{{ root_url }}/enlaces">Links</a></li>
  <li><a href="{{ root_url }}/eventos">Eventos</a></li>
  <li><a href="{{ root_url }}/recursos">Recursos</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archivos</a></li>
  <li><a href="{{ root_url }}/humanos">Humanos</a></li>
</ul>
